<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body> 
<nav class="blue-grey darken-4">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Cool School</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

    <div class="container">
    <% if(course) { %>
    <h1><%= course.name %></h1>
    <hr/>
        <div class="row">   
          <div class="col m2">
            <img src="<%= course.image %>" class="left responsive-img" width="200"/>
          </div>
          <div class="col m8">
              <p><%= course.description %></p>
          </div>
          <Div class="col m2">
              <p><b>Price:</b> $ <%= course.price %>.00</p>
              <p><b>Lenght:</b> <%= course.course_length %></p>
          </div>
        </div>
        <div class="row grey lighten-2">
          <div class="col s10">
            <p>
               <b>Author:</b> <%= review.name %>
              <small><i>Rating:</i> <%= review.Rating %> stars</small><br/>
              <%= review.review %>
            </p>
          </div>
        </div>

    <% } else { %>
    <h1>Course not found</h1>
    <% } %>
    </div>
</body>
</html>